<script id="client-details-template" type="text/x-kendo-template">
    <form>
        <div class="client-details form-horizontal">
            <input type="hidden" data-role="property" data-property-name="Id" value="#=id ?? ''#">
            <section style="padding-right: 5px;">
                <label class="property-title">Фамилия</label>
                <input control-type="text-box" data-role="property" data-property-name="LastName"
                       value="#=lastName ?? ''#" placeholder="Введите фамилию"/>
                <label class="property-title" style="margin-top: 10px;">Имя</label>
                <input control-type="text-box" data-role="property" data-property-name="FirstName"
                       value="#=firstName ?? ''#" placeholder="Введите имя"/>
                <label class="property-title" style="margin-top: 10px;">Отчество</label>
                <input control-type="text-box" data-role="property" data-property-name="MiddleName"
                       value="#=middleName ?? ''#" placeholder="Введите отчество"/>
                <label class="property-title" style="margin-top: 10px;">Дата рождения</label>
                <input control-type="date-picker" data-role="property" data-property-name="BirthDay"
                       value="#=birthDay ?? ''#" placeholder="Введите дату рождения"/>
                <label class="property-title" style="margin-top: 10px;">Комментарий</label>
                <textarea control-type="text-area" data-role="property" data-property-name="Comment"
                          value="#=comment ?? ''#" placeholder="Введите комментарий" style="resize: vertical;"/>
            </section>
            <section style="padding-left: 5px;">
                <label class="property-title">Серия</label>
                <input control-type="text-box" data-role="property" data-property-name="Passport.Series"
                       value="#=passport?.series ?? ''#" placeholder="Введите серию паспорта"/>
                <label class="property-title" style="margin-top: 10px;">Номер</label>
                <input control-type="text-box" data-role="property" data-property-name="Passport.Number"
                       value="#=passport?.number ?? ''#" placeholder="Введите номер паспорта"/>
                <label class="property-title" style="margin-top: 10px;">Кем выдан</label>
                <input control-type="text-box" data-role="property" data-property-name="Passport.Issued"
                       value="#=passport?.issued ?? ''#" placeholder="Введите название подразделения"/>
                <label class="property-title" style="margin-top: 10px;">Дата выдачи</label>
                <input control-type="date-picker" data-role="property" data-property-name="Passport.DateIssued"
                       value="#=passport?.dateIssued ?? ''#" placeholder="Введите даты выдачи"/>
                <label class="property-title" style="margin-top: 10px;">Код подразделения</label>
                <input control-type="text-box" data-role="property" data-property-name="Passport.DivisionCode"
                       value="#=passport?.divisionCode ?? ''#" placeholder="Введите код подразделения"/>
                <button type="button" class="btn btn-primary k-float-right k-mt-2" data-role="save-client">Сохранить</button>
                <button type="button" class="btn btn-secondary k-float-left k-mr-2 k-mt-2" data-role="cancel-client">Отмена</button>
            </section>
        </div>
    </form>
</script>