<script id="record-details-template" type="text/x-kendo-template">
    <form>
        <div class="record-details">
            <input type="hidden" data-role="property" data-property-name="Id" value="#=id ?? ''#">
            <section style="flex: 1; margin-right: 5px;">
                <h3 style="margin-top: 0;">Клиент</h3>
                <select control-type="combobox" data-role="property" data-property-name="PersonId"
                        value="#=personId ?? ''#" placeholder="Выберите клиента"/>
            </section>
            <section style="flex: 1; margin-left: 5px;">
                <h3 style="margin-top: 0;">Номер отеля</h3>
                <select control-type="combobox" data-role="property" data-property-name="HotelRoomId"
                        value="#=hotelRoomId ?? ''#" placeholder="Выберите номер отеля"/>
            </section>
            <section style="width: 100%;">
                <h3 style="margin-top: 10px;">Данные записи</h3>
                <label class="property-title">Дата заселения</label>
                <input control-type="datetimepicker" data-role="property" data-property-name="SettlementDate"
                       value="#=kendo.toString(settlementDate ?? '', 'dd.MM.yyyy')#" placeholder="Введите дату заселения"/>
                <label class="property-title" style="margin-top: 10px;">Дата освобождения</label>
                <input control-type="datetimepicker" data-role="property" data-property-name="ReleaseDate"
                       value="#=kendo.toString(releaseDate ?? '', 'dd.MM.yyyy')#" placeholder="Введите даты выдачи"/>
                <label class="property-title" style="margin-top: 10px;">Примечание</label>
                <textarea control-type="textarea" data-role="property" data-property-name="Note"
                    placeholder="Введите примечание" style="resize: vertical;">#=note ?? ''#</textarea>
                <button type="button" class="btn btn-primary k-float-right k-mt-2" data-role="save-client">Сохранить</button>
                <button type="button" class="btn btn-secondary k-float-left k-mr-2 k-mt-2" data-role="cancel-client">Отмена</button>
            </section>
        </div>
    </form>
</script>